<h1>Admin Portal</h1>
<h2><%= link_to @full_project_name, '/project/' + @project_id %></h2>

<%= form_tag 'update' do %>
  <%= label_tag("Project Name") %>
  <%= text_field_tag(:name, @project_name) %>
  <br>

  <h3>Specs</h3>
  <%= label_tag("Filters/Subgroups Specs") %>
  <%= link_to "Download", '/project/' + @project_id + '/filter.csv' %>
  <%= file_field_tag :filters %>
  Please make sure to use '|' delimiters<br>
  <br>
  <%= label_tag("Metrics Specs") %> 
  <%= link_to "Download", '/project/' + @project_id + '/metric.csv' %>
  <%= file_field_tag :metrics %> 
  Please make sure to use '|' delimiters<br>
  <br>
  <%= label_tag("Data File") %> 
  <%= file_field_tag :data %> 
  Please make sure to use '|' delimiters<br>
  <br>
  <%= label_tag("Client logo") %> 
  <%= file_field_tag :logo %> 


  <br><br>
  <%= submit_tag ('Update Project' ) %>



<% end %>

