<table id='results_table' data-toggle="table" class='table table-striped table-condensed demo'>
  <!--Table headers (aka subgroups) -->
  <thead>
    <tr>
      <th></th>
      <% @banner_groups[@info[:banner]].each do |banner_point| %>
        <th class='subgroup-header' data-sortable='true'><%=banner_point[0]%></th>
      <% end %>
    </tr>
  </thead>  

  <!-- Table results grouped into sections -->
  <tbody>
    <% @metric_groups.each do |key, value|%>
      <tr class='table-section accordian-toggle'>
        <th colspan=<%= @banner_groups[@info[:banner]].length + 1 %>><h4><%= key %></h4></th>
      </tr>
      <% @metric_groups[key].each do |metric_item| %>
        <tr>
          <td class="col-md-6"><%= metric_item[:var] + ': ' + metric_item[:label] %></td>
          <% @banner_groups[@info[:banner]].each do |banner_point| %>
            <% ban_label = banner_point[0] %>
              <% if metric_item[ban_label][:unweighted_base] == 0 || metric_item[ban_label][:unweighted_base] == nil%>
                <td align="center"><i>NA</i></td>
              <% else %>
                <% if metric_item[ban_label][:unweighted_base] < 3 %>
                  <td align="center"><i><%= metric_item[ban_label][:percent] %>*</i></td>
                <% else %>
                  <td align="center"><%= metric_item[ban_label][:percent] %></td>
                <% end %>
              <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>