<%= @time %>
<br>
<br>

<% if @info.has_key? ('banner') %>
  <% @banner_groups[@info['banner']].each do |banner_item| %>
    <%= banner_item[0] %><br>
  <% end %>
<% end %>

<%= form_tag '/project/' + @project_id + '/calculate' do %>
  <h3>Banner:</h3>
  <select name='banner'>
    <% @banner_groups.each do |key, value| %>
      <% if key == @info['banner'] %>
        <option selected value=<%= key %> ><%= key %></option>
      <% else %>
        <option value=<%= key %> ><%= key %></option>
      <% end %>
    <% end %>
  </select>
  <br>
  <h3>Filters</h3>
  <% @filter_groups.each do |key, value| %>
    <%= key %><br>
    <select name=<%= key %>>
      <% @filter_groups[key].each do |filter_item| %>
        <% if filter_item[2] + ',' + filter_item[1].to_s == @info[key] %>
          <option selected value=<%= filter_item[2] + ',' + filter_item[1].to_s %> ><%= filter_item[0] %></option>
        <% else %>
          <option value=<%= filter_item[2] + ',' + filter_item[1].to_s  %> ><%= filter_item[0] %></option>
        <% end %>
      <% end %> 
    </select>
    <br>
  <% end %>
  <br>
  <%= submit_tag ('Update Project' ) %>
<% end %>

<% @metric_groups.each do |key, value|%>
  <h4><%= key %></h4>
  <% @metric_groups[key].each do |metric_item| %>
    <%= metric_item[1] + ': ' + metric_item[0] %><br>
  <% end %>
<% end %>

