<%= @time %>
<br>

<!-- Build left sidebar with controls for subgroups & filters -->
<%= form_tag '/project/' + @project_id + '/calculate' do %>
  <div class='form-group col-md-2 fixed'>
    <%= submit_tag ('Calculate' ), class: "btn btn-primary" %>
    <h3>Subgroups:</h3>
    <select name='banner' class='form-control'>
      <% @banner_groups.each do |key, value| %>
        <% if key == @info['banner'] %>
          <option selected value=<%= key %> ><%= key %></option>
        <% else %>
          <option value=<%= key %> ><%= key %></option>
        <% end %>
      <% end %>
    </select>
    <h3>Filters:</h3>
    <% @filter_groups.each do |key, value| %>
        <%= key %>
        <select name=<%= key %> class='form-control'>
          <% @filter_groups[key].each do |filter_item| %>
            <% if filter_item[2] + ',' + filter_item[1].to_s == @info[key] %>
              <option selected value=<%= filter_item[2] + ',' + filter_item[1].to_s %> ><%= filter_item[0] %></option>
            <% else %>
              <option value=<%= filter_item[2] + ',' + filter_item[1].to_s  %> ><%= filter_item[0] %></option>
            <% end %>
          <% end %> 
        </select>
        <br>
    <% end %>
  </div>
<% end %>

<!--Build data table with results-->
<div class='col-md-10 scrollit'> 
  <button class='btn' id='expand_collapse'>Expand/Collapse All</button>
  <table class='table table-striped table-condensed demo'>
    <!--Table headers (aka subgroups) -->
    <thead>
      <tr>
        <th></th>
        <% @banner_groups[@info[:banner]].each do |banner_point| %>
          <th class='text-center' data-sortable='true'><%=banner_point[0]%></th>
        <% end %>
      </tr>
    </thead>  

    <!-- Table results grouped into sections -->
    <tbody>
      <% @metric_groups.each do |key, value|%>
        <tr class='table-section'>
          <th class='col-md-6' colspan=<%= @banner_groups[@info[:banner]].length + 1 %>><span class='table-section-indicator'></span><h3><%= key %></h3></th>
        </tr>
        <% @metric_groups[key].each do |metric_item| %>
          <tr>
            <td><%= metric_item[:var] + ': ' + metric_item[:label] %></td>
            <% @banner_groups[@info[:banner]].each do |banner_point| %>
              <% ban_label = banner_point[0] %>
                <% if metric_item[ban_label][:unweighted_base] == 0 || metric_item[ban_label][:unweighted_base] == nil%>
                  <td align="center"><i>NA</i></td>
                <% else %>
                  <% if metric_item[ban_label][:unweighted_base] < 3 %>
                    <td align="center"><i><%= metric_item[ban_label][:percent] %>*</i></td>
                  <% else %>
                    <td align="center"><%= metric_item[ban_label][:percent] %></td>
                  <% end %>
                <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

</div>