<%= @time %>
<br>

<%= form_tag '/project/' + @project_id + '/calculate' do %>
  <h3>Banner:</h3>
  <select name='banner'>
    <% @banner_groups.each do |key, value| %>
      <% if key == @info['banner'] %>
        <option selected value=<%= key %> ><%= key %></option>
      <% else %>
        <option value=<%= key %> ><%= key %></option>
      <% end %>
    <% end %>
  </select>
  <br>
  <h3>Filters</h3>
  <% @filter_groups.each do |key, value| %>
    <%= key %><br>
    <select name=<%= key %>>
      <% @filter_groups[key].each do |filter_item| %>
        <% if filter_item[2] + ',' + filter_item[1].to_s == @info[key] %>
          <option selected value=<%= filter_item[2] + ',' + filter_item[1].to_s %> ><%= filter_item[0] %></option>
        <% else %>
          <option value=<%= filter_item[2] + ',' + filter_item[1].to_s  %> ><%= filter_item[0] %></option>
        <% end %>
      <% end %> 
    </select>
    <br>
  <% end %>
  <br>
  <%= submit_tag ('Update Project' ) %>
<% end %>

<table>
  <tr>
    <td></td>
    <% @banner_groups[@info[:banner]].each do |banner_point| %>
      <td><%=banner_point[0]%></td>
    <% end %>
  </tr>
  <% @metric_groups.each do |key, value|%>
    <tr><td><h4><%= key %></h4></td></tr>
    <% @metric_groups[key].each do |metric_item| %>
    <tr>
      <td><%= metric_item[:var] + ': ' + metric_item[:label] %></td>
      <% @banner_groups[@info[:banner]].each do |banner_point| %>
        <% ban_label = banner_point[0] %>
          <% if metric_item[ban_label][:unweighted_base] == 0 || metric_item[ban_label][:unweighted_base] == nil%>
            <td><i>NA</i></td>
          <% else %>
            <% if metric_item[ban_label][:unweighted_base] < 3 %>
              <td><i><%= metric_item[ban_label][:percent] %>*</i></td>
            <% else %>
              <td><%= metric_item[ban_label][:percent] %></td>
            <% end %>
          <% end %>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</table>

